<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Info-->
    <title>Linda Trujano</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="main.min.js"></script>

    <link rel="stylesheet" href="style.css" media="screen" type="text/css" />

  </head>

  <body>
    <section id="main">
       <div id="profile-pic"> </div>
       <h1 id="name">Linda Trujano</h1>
        <p id="summary">{{summary}}</p>
        <nav id="links">
          <a href="http://resume.lindatrujano.com" target="_blank" class="nowrap"><i class="fa fa-file-text fa-2x"></i>Resume</a>
          <a href ="https://www.linkedin.com/in/lindatrujano/" target="_blank" class="nowrap"> <i class="fa fa-linkedin-square fa-2x"></i>LinkedIn</a>
        </nav>

    </section>
    <nav id="menu">
      <a href="#education">Education</a>
      <a href="#work">Professional Experience</a>
      <a href="#certifications">Certifications</a>
      <a href="#contact">Contact</a>
    </nav>

    <section id="education">
      <h2>Education</h2>
      {{#each education}}
        <div class="container date-divider">{{year}}</div>
        {{#each entries}}
          {{> entry}}
        {{/each}}
      {{/each}}
    </section>

    <hr style="width: 85%">

    <section id="work">
      <h2>Professional Experience</h2>
      {{#each work}}
        <div class="container date-divider">{{year}}</div>
        {{#each entries}}
          {{> entry}}
        {{/each}}
      {{/each}}
    </section>

    <hr style="width: 85%">

    <section id="certifications">
      <h2> Certifications </h2>
      {{#each certification}}
        <div class="container date-divider">{{year}}</div>
        {{#each entries}}
          {{>entry}}
        {{/each}}
      {{/each}}
    </section>



    <section id="contact">
      <p> lindatrujano91@gmail.com </p>
    </section>

  </body>

</html>
