<!-- Hello source code viewer. This site is made with handlebars and scss and is hosted on GitHub. The compiled code might look weird, and the js is minified for speed. If you are interested in checking out the original source, go to my repo: https://github.com/Fertogo/fernandotrujano.com -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Info-->
    <title>Fernando Trujano</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="main.min.js"></script>

    <link rel="stylesheet" href="style.css" media="screen" type="text/css" />

  </head>

  <body>
    <section id="main">
       <div id="profile-pic"> </div>
       <h1 id="name">Fernando Trujano</h1>
        <p id="summary">{{summary}}<br/>
        Check out some of my work! </p>
        <nav id="links">
          <a href="Fernando_Trujano_Resume.pdf" target="_blank" class="nowrap"><i class="fa fa-file-text fa-2x"></i>Resume</a>
          <a href="https://github.com/Fertogo" target="_blank" class="nowrap"><i class="fa fa-github fa-2x"></i>GitHub</a>
          <a href ="https://www.linkedin.com/in/trujano" target="_blank" class="nowrap"> <i class="fa fa-linkedin-square fa-2x"></i>LinkedIn</a>
          <a href ="notes" target="_blank" class="nowrap"><i class="fa fa-file-text-o fa-2x"></i>Notes</a>
        </nav>

    </section>
    <nav id="menu">
      <a href="#projects">Projects </a>
      <a href="#education">Education</a>
      <a href="#work">Work</a>
      <a href="#contact">Contact</a>
    </nav>

    <section id="projects">
      <h2> Projects </h2>
      {{#each projects}}
        <div class="container date-divider">{{year}}</div>
        {{#each entries}}
          {{>entry}}
        {{/each}}
      {{/each}}
    </section>

    <section id="education">
      <h2>Education</h2>
      {{#each education}}
        <div class="container date-divider">{{year}}</div>
        {{#each entries}}
          {{> entry}}
        {{/each}}
      {{/each}}
    </section>

    <section id="work">
      <h2>Work</h2>
      {{#each work}}
        <div class="container date-divider">{{year}}</div>
        {{#each entries}}
          {{> entry}}
        {{/each}}
      {{/each}}
    </section>

    <section id="contact">
      <p> trujano@mit.edu </p>
    </section>

  </body>

</html>
