body {
  margin: 0;
  font-family: 'Lato', 'Helvetic Neue', 'Helvetica', sans-serif;
}

section > h2 {
  color: #000000;
  font-size: 3em;
  text-align:center;
  margin-bottom: 10px;
  margin-top: 0;
}

#main {
  text-shadow: 1px 1px #111111;
  overflow: auto;
  height: 100vh;
  min-height: 540px;
  padding: 0 5px;
  margin: 0;
  background: rgba(203,96,179,1);
  background: -moz-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 33%, rgba(168,0,119,1) 86%, rgba(219,54,164,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,96,179,1)), color-stop(33%, rgba(193,70,161,1)), color-stop(86%, rgba(168,0,119,1)), color-stop(100%, rgba(219,54,164,1)));
  background: -webkit-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 33%, rgba(168,0,119,1) 86%, rgba(219,54,164,1) 100%);
  background: -o-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 33%, rgba(168,0,119,1) 86%, rgba(219,54,164,1) 100%);
  background: -ms-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 33%, rgba(168,0,119,1) 86%, rgba(219,54,164,1) 100%);
  background: linear-gradient(to bottom, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 33%, rgba(168,0,119,1) 86%, rgba(219,54,164,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=0 );


  margin-bottom: -50px;
  #profile-pic {
      width: 150px;
      height: 150px;
      border-radius:50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      background: url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAANJAAAAJGUzNDkyZTdmLWQ3MmYtNGNmNy04ZGFlLWFhYjM1MjMxMWFlMA.jpg) no-repeat;
      box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      background-size: cover;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
  }
  #name {
    font-weight: 600;
    text-align: center;
    margin: 8px auto;
    color: white;
    font-size: 2.2em;
    line-height: 38px;
  }
  #summary {
    padding-bottom: 10px;
    max-width: 650px;
  }
  p,nav{
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: 300;
    font-size: 1.0em;
  }
  #links a {
    color: white;
    text-decoration: none;
    padding: 4px 5px;
    display: inline-block;
    i {
      padding-right: 5px;
    }
  }
}

#menu {
  height: 40px;
  font-size: 1.2em;
  text-align: center;
  padding-top:10px;
  color: white;
  background-color: rgba(219, 54, 164, .95);
  a {
    padding: 10px;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    &.selected {
      color: #f5b8e1;
    }
  }
}

section {
  padding: 10px;
  padding-bottom: 50px;
  &#certifications {
    background-color: #ffffff;
  }
  &#education {
    /*background-color: #6ACCB1;*/
    // background-color: rgb(50, 114, 185);
    background-color: rgb(255, 255, 255);
  }

  &#work {
    background-color: #ffffff;
  }
  &#contact {
    background-color: rgba(219, 54, 164, .95);
    h2 {
      color: white;
    }
    p {
      color:white;
      text-align:center
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

.date-divider{
  color: rgba(219, 54, 164, .95);
  width: 100%;

  height: 0px;
  display: block;
  padding-bottom: 6px;
  margin-top: 6px;
  max-width: 1000px;
  font-size: 20px;

  /* mobile */
  text-align: center;
  margin-bottom: 20px;
  border-style:none;
}
.row{
  display: inline-block;
  clear:both;
  width:100%;
}

.project{
  margin-top: 10px;
  background-color: rgba(0, 0,0, 0.0);
  height: auto;
  .links{
    float: right;
    color: rgb(38, 121, 205);
    padding: 5px;
    margin-right: 5px;
  }
  .divider{
    border-top-style: solid;
    border-color: #000000;
    border-width: 1px;
    height: 0px;
    display: block;
    padding-bottom: 6px;
  }
  a{
    color: rgb(0, 118, 255);
    text-decoration: underline;
  }
  .languages{
    float: right;
    background-color: rgba(219, 54, 164, .95);
    color: #ffffff;

    padding: 5px;
    padding-right: 8px;
  }
  .title{
    font-size: 1.5em;
    float: left ;
    font-weight: 300;
  }
  img {
    width: 100%;
    float: left;
    margin-bottom: -3px;

  }
  .project-description{
    width: initial;
    font-size: 1.2em;
    padding: 10px;
  }
  .project-content{
    margin: 0 auto;
  }

}

.fa {
  color: white;
  vertical-align: middle;
}

.nowrap{
  white-space: nowrap;
}

@media only screen and (min-width: 400px) {

  #menu {
    padding-top:10px;
    font-size: 1.2em;
  }

  #main {
    #name {
      font-size: 2.5em;
      margin: 20px auto;
    }
    p,nav{
      font-size: 1.3em;
    }
  }

}

@media only screen and (min-width: 600px) {
  .project {
    .project-description {
      width: calc(100% - 315px);
      float: right;
    }
    img {
      width: 295px;
    }
  }
}

@media only screen and (min-width: 750px) {

  #main {
    #profile-pic {
      width: 250px;
      height: 250px;
      margin-top: 10vh;
    }
    #name {
      font-size: 4em;
      font-weight: 300;
    }
  }

  .project {
    .project-description {
      width: calc(100% - 415px);
      float: right;
    }
    img {
      width: 395px;
      float: left;
    }
  }

  .date-divider {
    border-top-style: dashed;
    border-color: rgba(219, 54, 164, .95);
    border-width: 0px;
    text-align: left;
  }

  #menu {
    height: 45px;
    padding-top:5px;
    font-size: 1.5em;
  }
}


