
body {
  margin: 0;
  font-family: 'Lato', 'Helvetic Neue', 'Helvetica', sans-serif;

}

section > h2 {
  color: #2679cd;
  font-size: 3em;
  text-align:center;
  margin-bottom: 10px;
}

#main {
  overflow: auto;
  height: 100vh;
  margin: 0;
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%, #207cca 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#2989d8), color-stop(100%,#207cca), color-stop(100%,#7db9e8), color-stop(100%,#207cca));
  background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%,#207cca 100%);
  background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%,#207cca 100%);
  background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%,#207cca 100%);
  background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%,#207cca 100%);
}

#main {
  margin-bottom: -70px;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius:50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: url(http://i.imgur.com/zcyKPsM.jpg) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#name {
  font-weight: 300;
  text-align: center;
  margin: 8px auto;
  color: white;
  font-size: 2.2em;
  line-height: 38px;

}

#main p,#main nav{
  text-align: center;
  margin: 0 auto;
  color: white;
  font-weight: 100;
  font-size: 1.0em;
}

.fa {
  color: white;
  vertical-align: middle;
}

.nowrap{
  white-space: nowrap;
}

#summary {
  padding-bottom: 10px;
}
#links a {
  color: white;
  text-decoration: none;
  padding: 4px 5px;
  display: inline-block;
}
#links a i {
  padding-right: 5px;
}
#links a:after {
  /*content: "|";*/
}

#menu {
  height: 40px;
  background-color: yellow;
  font-size: 0.9em;
  text-align: center;
  padding-top:15px;
  color: white;
  background-color: rgba(8, 88, 177, 0.8);

}
#menu a {
  padding: 10px;
  vertical-align: middle;
  color: white;
  text-decoration: none;
}

/* --------------------- */
#projects {
  background-color: #dcdcdc;
  /*height: 100vh;*/
}
#education {
  /*background-color: #6ACCB1;*/
  background-color: rgb(50, 114, 185);
}

#education > .project {
  /*background-color: rgba(0, 0, 0, 0.22);*/
  background-color: rgba(226, 207, 207, 0.17);
  color: white;
}

#education > h2, #contact > h2 {
  color: white;
}


#work {
  background-color: #dcdcdc;
  height: 95vh;
}
#contact {
  background-color: rgb(50, 114, 185);
  /*height: 30vh;*/
}

h2 {
  margin-top: 0;
}

/* ------ */

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  width: 100%;
}

.date-divider{
  color: rgba(38, 121, 205, 1);
  width: 100%;

  height: 0px;
  display: block;
  padding-bottom: 6px;
  margin-top: 6px;
  max-width: 1000px;

  /* mobile */
  text-align: center;
  margin-bottom: 20px;
  border-style:none;
}
.row{
  display: inline-block;
  clear:both;
  width:100%;
}
.divider{
  border-top-style: solid;
  border-color: rgb(1, 94, 189);
  border-width: 1px;
  height: 0px;
  display: block;
  padding-bottom: 6px;
}

.project img {
  width: 100%;
  /*width: 400px;*/
  float: left;
}

.project-content{
  margin: 0 auto;
  /*padding-bottom: 6px;*/
}

.project .title{
  font-size: 1.5em;
  /*width: 70%;*/
  float: left ;
  font-weight: 300;
}

.project .languages{
  /*width: 50%;*/
  float: right;
  background-color: rgba(38, 121, 205, 1);
  color: gainsboro;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  padding-right: 8px;

}

.project a{
  color: rgb(0, 118, 255);
  text-decoration: underline;
}

.project .links{
  float: right;
  background-color: rgba(220, 220, 220, 1);
  color: rgb(38, 121, 205);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  margin-right: 5px;
}

.project-description{

  width: initial;
  font-size: 1.2em;
  padding: 10px;
}

.project{
  margin-top: 10px;
  background-color: rgba(38, 121, 205, 0.4);
  height: auto;
}

section {
  padding: 10px;
}

#menu a.selected {
  color: orange;
}

@media only screen and (min-width: 400px) {

  #menu {
    padding-top:10px;
    font-size: 1.2em;
  }

  #name {
    font-size: 2.5em;
    margin: 20px auto;

  }

  #main p,#main nav{
    font-size: 1.3em;
  }

}
@media only screen and (min-width: 750px) {

  #profile-pic {
      width: 250px;
      height: 250px;
      margin-top: 10vh;
  }

  .project-description {
    width: calc(100% - 415px);
    float: right;
  }

  .project img {
    width: 395px;
    float: left;
  }

  .date-divider {
    border-top-style: dashed;
    border-color: rgb(1, 94, 189);
    border-width: 1px;
    text-align: left;
  }

  #name {
    font-size: 4em;
  }

  #menu {
    height: 45px;
    padding-top:5px;
    font-size: 1.5em;
  }
}
