*{margin:0;padding:0;border:0;}

html {
overflow: scroll; 

}
body {
background: url("images/bg2.jpg") repeat #282828;
color: #cdcbcb;
font-family: Helvetica, Arial, sans-serif;
}

#wrap {
width: 840px;
margin: 35px auto;
}



/* Header
----------------------------*/
#alert { color:#555;
    border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;   
	background:#e3f7fc url('images/alerts/notice.png') no-repeat 10px 50%;
    border:3px dashed #8db7e6;  
}

h1.logo {
background: url("images/logo.png") no-repeat;
text-indent: -9999em;
margin-bottom: 5px;
width: 650px;
height: 120px;
}

ul#nav {
margin-bottom: 15px;
text-transform: uppercase;
}

	ul#nav li {
	display: inline;
	list-style: none;
	padding-right: 10px;
	font-size: 1.2em;
	}
	
		ul#nav li a:link, ul#nav li a:visited {
		color: #ffffff;
		text-decoration: none;
		border-bottom:0;
		}
		
		ul#nav li a:hover, ul#nav li a:active, ul#nav li a:focus {
		color: #ffea00;
		outline: none;
		}
		
		ul#nav li.ui-tabs-selected a {
		color: #ff9933;
		border-bottom: 1px solid #ff9933;
		}




/* Main Styles
----------------------------*/

#ctop {
height: 24px;
background: url("images/top.png") no-repeat;
}

#cmid {
background: url("images/mid.png") repeat-y;
padding: 0 20px;
}

	.ui-tabs-hide {
	display: none;
	}
	
	.section {
	overflow: hidden;
	clear: both;
	}
	
	h2 {
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #fff;
	font-size: 2em;
	}
	
/* AWARD PAGE */

.award { 
width: 184px; 
height: 143px; 
border: 2px solid #ff9933;
padding-right: 0px;

} 
	
	/* WORK PAGE */
	#portitems {
	margin: 0 5px 10px 5px;
	}
	
		#portitems li {
		display: inline;
		margin-left: 5px;
		}
		
			#portitems li a:link, #portitems li a:visited {
			padding: 5px 10px;
			color: #fff;
			border-bottom: none;
			outline: none;
			}
			
			#portitems li a:hover, #portitems li a:active, #portitems li a:focus {
			color: #ffea00;
			}
			
			#portitems li.ui-tabs-selected a:link, #portitems li.ui-tabs-selected a:visited, #portitems li.ui-tabs-selected a:hover, #portitems li.ui-tabs-selected a:active, #portitems li.ui-tabs-selected a:focus {
			background-color: #F93;
			border-top-left-radius: 13px;
			border-top-right-radius: 13px;
			color: #ffffff;
			}
	
	.item {
	clear: both;
	padding-bottom: 5px;
	margin-bottom: 20px;
	}
	
		.item img {
		float: left;
		}
		
			.item img.smallitem {
			margin-left: 11px;
			margin-bottom: 10px;
			}
		
		.description {
		clear: both;
		padding: 5px 0;
		}
		
		ul {
		margin: 5px;
		list-style-position: inside;
		}
		

	
	/* CONTACT PAGE */
	label {
	font-weight: bold;
	}
	
	input {
	margin: 0 15px 0 0;
	}
	
	textarea {
	margin-top: 5px;
	font-family: Helvetica, Arial, sans-serif;
	overflow: auto;
	}
	
	input, textarea {
	padding: 4px;
	background-color: #2c2c2c;
	border: 1px solid #404040;
	color: #fff;
	}
	
	input.submit {
	cursor: pointer;
	}
		

#cbot {
height: 24px;
background: url("images/bot.png") no-repeat;
}

p.copy {
margin-top: 10px;
float: right;
}



/* General Styles
----------------------------*/

a:link, a:visited {
color: #8db7e6;
text-decoration: none;
border-bottom: 1px solid #8db7e6;
}

a:hover, a:active, a:focus {
color: #6d99ca;
border-bottom: 1px solid #6d99ca;
}

.item a:link, .item a:visited, .item a:hover, .item a:active, .item a:focus {
border-bottom: none;
}

.item .description a:link, .item .description a:visited {
border-bottom: 1px solid #8db7e6;
}

.item .description a:hover, .item .description a:active, .item .description a:focus {
border-bottom: 1px solid #6d99ca;
}

p {
line-height: 1.3em;
padding-left: 5px;
margin-bottom: 10px;
}

h4 {
padding-left: 5px;
}

.alignright {
float: right;
}

.alignleft {
float: left;
}


img.alignright {
margin: 0px 0px 5px 7px;
float: right;
}

img.alignleft {
margin: 0px 7px 5px 0;
float: left;
}

img.border {
padding: 0px;
border: 2px solid #ff9933;
}


/* Skills Page Styles
----------------------------*/
#computer-programs {
	float:left; 
	width:360px;
	padding-left:15px; 
	border-right-style:dashed;
	border-right-width:thick;
}

#stars { 
float:left;
 width:141px;
}

#programs {
float: left; 
width:160px;	
padding-left: 10px; 
font-family:"Times New Roman"; 
font-size: 17px; 
line-height: 160%;
}

#languages {
	float: left; 
width:100px;	
padding-left: 10px; 
font-family:"Times New Roman"; 
font-size: 17px; 
line-height: 160%;
	
}

#others
{
padding-left: 10px; 
font-family:"Times New Roman"; 
font-size: 17px;
line-height: 160%;		
}

img.stars {
	width:121px; 
	height:22px; 
	margin: 0px 0px 5px 7px;
	float: right; 	
	/*padding-bottom: 10px; */
}

.smalltext {
	font-size: 12px;
}

a.noline{ 
text-decoration: none; 
border-bottom: none; 
} 
